<!DOCTYPE html>
<html>
<head>
    <title>Moodsy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>🎧 Moodsy</h1>
        <p>Your mood. Your music.</p>

        <br>

        <a href="/login" class="login-link">
            <button class="login-btn">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" width="20" style="margin-right:8px;">
                Continue with Spotify
            </button>
        </a>

    </div>

</body>
</html>